/* This file is imported by main.jsx */
/* It injects Tailwind's base styles and component utilities */
/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

/* You can add custom base styles here */
/*body {
  @apply bg-gray-50 font-sans antialiased;
}*/

